<!DOCTYPE html>
<html>
<head>
    <title>Customer Segmentation and Default Prediction Model</title>
</head>
<body>
    <h1>Customer Segmentation and Default Prediction Model</h1>
    <form id="inputForm" action="/prediction" method="post">
        <label for="balance">Balance:</label>
        <input type="text" id="balance" name="balance" required><br><br>

        <label for="balance_frequency">Balance Frequency:</label>
        <input type="text" id="balance_frequency" name="balance_frequency" required><br><br>

        <label for="purchases">Purchases:</label>
        <input type="text" id="purchases" name="purchases" required><br><br>

        <label for="purchases_trx">Purchase Transaction:</label>
        <input type="text" id="purchases_trx" name="purchases_trx" required><br><br>

        <label for="oneoff_purchases">One-off Purchase:</label>
        <input type="text" id="oneoff_purchases" name="oneoff_purchases" required><br><br>

        <label for="oneoff_purchases_frequency">One-off Purchase Frequency:</label>
        <input type="text" id="oneoff_purchases_frequency" name="oneoff_purchases_frequency" required><br><br>

        <label for="installments_purchases">Installment Purchase:</label>
        <input type="text" id="installments_purchases" name="installments_purchases" required><br><br>

        <label for="purchases_installments_frequency">Purchases Installments Frequency:</label>
        <input type="text" id="purchases_installments_frequency" name="purchases_installments_frequency" required><br><br>

        <label for="cash_advance">Cash Advance:</label>
        <input type="text" id="cash_advance" name="cash_advance" required><br><br>

        <label for="cash_advance_trx">Cash Advance Transaction:</label>
        <input type="text" id="cash_advance_trx" name="cash_advance_trx" required><br><br>

        <label for="cash_advance_frequency">Cash Advance Frequency:</label>
        <input type="text" id="cash_advance_frequency" name="cash_advance_frequency" required><br><br>

        <label for="credit_limit">Credit Limit:</label>
        <input type="text" id="credit_limit" name="credit_limit" required><br><br>

        <label for="prc_full_payment">PRC Full Payment:</label>
        <input type="text" id="prc_full_payment" name="prc_full_payment" required><br><br>

        <label for="minimum_payment">Minimum Payment:</label>
        <input type="text" id="minimum_payment" name="minimum_payment" required><br><br>

        <label for="payment">Payment:</label>
        <input type="text" id="payment" name="payment" required><br><br>


        <label for="tenure">Tenure:</label>
        <input type="text" id="tenure" name="tenure" required><br><br>

        

        <input type="submit" value="Submit">
    </form>
</body>
</html>
